.option {
    display: inline-flex;
    align-items: center;
    gap: calc(0.5rem * var(--mantine-scale));
    padding: 0;
}

.option:hover, .option:focus {
    outline: 2px solid var(--mantine-color-blue-5);
}

.options>div>div>div>div>div div{
    display: flex;
    flex-direction: row;
    gap: calc(0.5rem * var(--mantine-scale));
    flex-wrap: wrap;
    overflow: visible;
}

.options {
    padding: 0 calc(0.5rem * var(--mantine-scale)) calc(0.5rem * var(--mantine-scale));
}

.options>div>div>div>div>div>div>div:first-child{
    flex-grow: 1;
    width: 100%;
    padding: .4rem 0 0;
}

.colorSelectorRoot{
    position: relative;
}

.colorSelectorInput{
    padding: 0;
    width: fit-content;
    border: none;
    outline: none;
    background-color: transparent;
}

.colorSelectorWrapper{
    width: 4rem;
    height: 4rem;
    position: relative;
}

.colorSelectorSection{
    top: .5rem;
    right: .5rem;
    bottom: unset;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: var(--mantine-radius-default);
    background-color: var(--mantine-color-default);
    position: absolute;

    & svg{
        color: var(--mantine-color-text);
    }
}

.colorSelectorDropdown{
    width: 20rem !important;
}
