/* ThemeDisplayGrid.css */
.masonry-grid {
    display: flex;
    width: auto;
    gap: var(--mantine-spacing-xl);
}
  
.masonry-column {
    background-clip: padding-box;
    gap: var(--mantine-spacing-xl);
    display: flex;
    flex-direction: column;
}
  
  /* optional: style the Box wrappers, ensure they don’t break across columns */