/* ThemeDisplayGrid.css */
.masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, min-content);
    gap: var(--mantine-spacing-xl);
}
  
.masonry-column {
    background-clip: padding-box;
    gap: var(--mantine-spacing-xl);
    display: flex;
    flex-direction: column;
}
  
  /* optional: style the Box wrappers, ensure they don’t break across columns */