
.contentArea{
    height: calc(var(--editor-height) - 5rem);
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.header{
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    z-index: 6;
    padding: .5rem;
    background: var(--mantine-color-dark-9);
}

.tabList button[data-active][data-active] div{
   color: white;
}


:where([data-mantine-color-scheme='light']) .tabList{
    background-color: var(--mantine-color-gray-0);
}

#control-panel{
    max-width: 100%;
    position: relative;
    background: var(--mantine-color-dark-9);
}
