.tabPanel{
    width: calc(100% - 80px);
    padding: 20px;
}

.tabList{
    width: 80px;
    background-color: var(--mantine-color-dark-6);
    min-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabList button[data-active][data-active] div{
   color: white;
}
.tabList>div>button{
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
}


:where([data-mantine-color-scheme='light']) .tabList{
    background-color: var(--mantine-color-gray-1);
}