.tabPanel{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    height: var(--editor-height);
}

.tabPanel>div{
    max-width: 100%;
    padding: 4rem 2rem;
}

.tabList{
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5rem;
    z-index: 6;
    background: var(--mantine-color-dark-9);
}

.tabList button[data-active][data-active] div{
   color: white;
}

.tabList>div>button{
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
}


:where([data-mantine-color-scheme='light']) .tabList{
    background-color: var(--mantine-color-gray-0);
}

#control-panel{
    max-width: 100%;
    padding-top: var(--mantine-spacing-lg);
    position: relative;
}

.bottomPanel{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--mantine-spacing-sm);
    bottom: 0;
}
